body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.w3-bar .w3-button {
    padding: 16px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagem */

#home img {
    opacity: 0;
    animation: aparecer .3s ease forwards;
    animation-delay: 0.3s;
}

/* Título */

#home h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .3s ease forwards;
    animation-delay: 1.2s;
}

#home p {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .3s ease forwards;
    animation-delay: 2s;
}

#home a {
    display: block;
    width: fit-content;
    position: relative;
    opacity: 0;
    animation: aparecer .7s ease forwards;
    animation-delay: 2.5s;
}

/* Animação do título */
#home h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1s ease;
    background-color: #FFFFFF;
    animation-delay: .8s;
}

#home p span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    animation: text_reveal_box 1.3s ease;
    animation-delay: 1.5s;
    background-color: #FFFFFF;
}

/* Sobre */
div#sobre{
    opacity: 0;
    animation: aparecer .8s ease forwards;
    animation-delay: 2.7s;
}

/* Projetos atuais */
div#atuais{
    opacity: 0;
    animation: aparecer .8s ease forwards;
    animation-delay: 2.9s;
}

/* Projetos concluídos */
div#concluidos{
    opacity: 0;
    animation: aparecer .8s ease forwards;
    animation-delay: 3.1s;
}

/* Divulgação científica */
div#divulgacao{
    opacity: 0;
    animation: aparecer .8s ease forwards;
    animation-delay: 3.3s;
}

/* Footer */
footer{
    opacity: 0;
    animation: aparecer .8s ease forwards;
    animation-delay: 3.5s;
}

/* Keyframes */
@keyframes text_reveal{
    100%{
        color: #FFFFFF
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes aparecer{
    100%{
        opacity: 1;
    }
}